.dor-button {
  padding: 16px 22px;
  
  border: none;
  border-radius: var(--border-sm);
  background-color: var(--fill);
  color: var(--white);

  cursor: pointer;
}

.dor-button:hover {
  background-color: var(--fill);
}

.dor-button:active {
  background-color: var(--fill);
}